<div class="relative">
  <button
    (click)="dropdown()"
    class="my-3 p-3 rounded-full hover:bg-[#eff3f41a] w-full flex text-left items-center cursor-pointer select-none"
  >
    <img
      src="assets/imgs/profile.jpg"
      alt="Profile"
      class="w-10 h-10 rounded-full"
    />
    <div class="mx-3 text-[15px]">
      <h6 class="font-bold leading-[20px]">Harlex</h6>
      <div class="text-[#71767b]">{{ "@" }}harlexq</div>
    </div>
    <svg viewBox="0 0 24 24" class="fill-[#e7e9ea] w-[18.75px] ml-auto">
      <path
        d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"
      ></path>
    </svg>
  </button>

  @if (isDropdownVisible) {
  <div
    class="absolute bottom-[80px] -translate-y-2 py-3 w-[300px] z-[1] left-1/2 -translate-x-1/2 bg-[#000000] shadow-box rounded-2xl"
  >
    <button
      (click)="openLoginModal()"
      class="py-3 px-4 text-left transition-colors hover:bg-[#16181c] w-full font-bold leading-[1.25rem]"
    >
      Var olan bir hesap ekle
    </button>
    <a
      routerLink="logout"
      class="block py-3 px-4 text-left transition-colors hover:bg-[#16181c] w-full font-bold leading-[1.25rem]"
      >{{ "@" }}harlexq hesabından çıkış yap</a
    >
  </div>
  }
</div>
