<div
  class="rounded-full h-14 w-14 p-4 flex items-center justify-center hover:bg-opacity-10 hover:bg-blue-300 cursor-pointer transitition fill-white"
>
  <svg viewBox="0 0 24 24" class="h-14 w-14">
    <path
      d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
    ></path>
  </svg>
</div>

<nav class="nav">
  @for (sidebarItem of sidebarItems; track $index) {
  <a
    [routerLink]="sidebarItem.route"
    routerLinkActive="active"
    class="sidebar-item inline-flex items-center gap-5 p-[12px] rounded-full hover:bg-[#e7e9ea1a]"
  >
    @if (isRouteActive(sidebarItem.route)) {
    <svg
      viewBox="0 0 24 24"
      class="fill-white w-[25px] h-[25px]"
      [innerHTML]="sanitizeIcon(sidebarItem.activeIcon)"
    ></svg>
    } @else {
    <svg
      viewBox="0 0 24 24"
      class="fill-white w-[25px] h-[25px]"
      [innerHTML]="sanitizeIcon(sidebarItem.icon)"
    ></svg>
    }
    <p class="text-xl me-4">{{ sidebarItem.label }}</p>
  </a>
  }
</nav>
