<nav class="mt-0.5 mb-1">
  @for (sidebarItem of sidebarItems; track $index) {
  <a
    [routerLink]="sidebarItem.path"
    routerLinkActive="active"
    class="sidebar-item py-[0.188rem] block group"
  >
    <div
      class="p-3 rounded-full transition-colors inline-flex items-center gap-5 group-hover:bg-[#eff3f41a]"
    >
      <div class="w-[1.641rem] h-[1.641rem] relative">
        @if (sidebarItem.notification) {
        <span
          class="w-[1.125rem] h-[1.125rem] rounded-full bg-[#1d9bf0] absolute -top-1.5 -right-1 flex items-center justify-center text-[0.688rem]"
          >{{ sidebarItem?.notification }}</span
        >
        } @if (isRouteActive(sidebarItem.path)) {
        <svg
          viewBox="0 0 24 24"
          class="fill-[#e7e9ea] w-[26.25px] h-[26.25px]"
          [innerHTML]="sanitizeIcon(sidebarItem.activeIcon)"
        ></svg>
        } @else {
        <svg
          viewBox="0 0 24 24"
          class="fill-[#e7e9ea] w-[26.25px] h-[26.25px]"
          [innerHTML]="sanitizeIcon(sidebarItem.icon)"
        ></svg>
        }
      </div>
      <p class="pr-4 text-xl">{{ sidebarItem.title }}</p>
    </div>
  </a>
  }
  <sidebar-items-more />
  <sidebar-items-new />
</nav>
