<div class="relative">
  <div
    (click)="dropdown()"
    class="mb-3 flex items-center justify-between rounded-full hover:bg-[#e7e9ea1a] cursor-pointer p-3"
  >
    <div class="flex gap-3">
      <img src="assets/imgs/profile.jpg" alt="Profile" class="rounded-full" />
      <div class="">
        <h2 class="text-[#e7e9ea] text-[15px] font-bold">Harlex</h2>
        <p class="text-[#71767b] text-[15px]">{{ "@" }}harlexq</p>
      </div>
    </div>
    <div class="menu-icon">
      <svg viewBox="0 0 24 24" class="fill-white w-5">
        <path
          d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"
        ></path>
      </svg>
    </div>
  </div>

  <div
    class="dropdown-menu"
    [ngStyle]="{ display: isDropdownVisible ? 'block' : 'none' }"
  >
    <div class="absolute rounded-2xl py-3 bg-black drop overflow-hidden w-80">
      <a
        routerLink="login"
        class="font-bold dropdown-item py-[12px] px-[16px] hover:bg-[#16181c]"
        >Var olan bir hesap ekle</a
      >
      <a
        routerLink="logout"
        class="font-bold dropdown-item py-[12px] px-[16px] hover:bg-[#16181c]"
        >{{ "@" }}harlexq hesabından çıkış yap</a
      >
    </div>

    <div class="absolute ss">
      <svg viewBox="0 0 24 24" class="w-3">
        <path d="M22 17H2L12 6l10 11z"></path>
      </svg>
    </div>
  </div>
</div>
