.drop {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  bottom: 87px;
  left: -20px;
}

.dropdown-item {
  display: block;
  transition: 0.3s;
}

.ss {
  bottom: 75px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  left: 50%;
  transform: translateX(50%);
  transform: rotate(180deg);
}
