<nav class="mt-0.5 mb-1">
  @for (sidebarItem of sidebarItems; track $index) {
  <a
    [routerLink]="sidebarItem.route"
    routerLinkActive="active"
    class="sidebar-item py-1 block group"
  >
    <div
      class="p-3 rounded-full transition-colors inline-flex items-center gap-5 group-hover:bg-[#eff3f41a]"
    >
      @if (isRouteActive(sidebarItem.route)) {
      <svg
        viewBox="0 0 24 24"
        class="fill-[#e7e9ea] block w-[26.25px] h-[26.25px]"
        [innerHTML]="sanitizeIcon(sidebarItem.activeIcon)"
      ></svg>
      } @else {
      <svg
        viewBox="0 0 24 24"
        class="fill-[#e7e9ea] block w-[26.25px] h-[26.25px]"
        [innerHTML]="sanitizeIcon(sidebarItem.icon)"
      ></svg>
      }
      <p class="text-xl">{{ sidebarItem.label }}</p>
    </div>
  </a>
  }
</nav>
